* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

::selection {
    color: black;
    background-color: white;
}

body {
    font-family: monospace;
    color: white;
    background-color: black;
    font-size: 1.2rem;
}

header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}

svg {
    fill: none;
    stroke-width: 1px;
    stroke: #FFFFFF;
}

a {
    color: inherit;
}

a:hover,
a:active {
    text-decoration: none;
}

section {
    display: flex;
    flex-wrap: wrap;
    margin-top: 24rem;
}

figure {
    width: 800px;
    margin: 0 auto;
    margin-bottom: 12rem;
}

img {
    display: block;
    max-width: 100%;
    user-select: none;
    pointer-events: none;
}

figcaption {
    display: flex;
    justify-content: space-between;
    margin-top: 0.75rem;
}

/*figcaption {
    position: absolute;
    right: -2rem;
    top: 0;
    writing-mode: tb;
    transform: rotate(180deg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}*/

span {
    display: block;
}

.concept-art__date {
    font-size: 1.4rem;
    position: absolute;
    right: 0;
    bottom: 0;
    writing-mode: tb;
    transform: rotate(180deg);
}
